<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- ###                  -->
    <!-- ### NETWORK SETTINGS -->
    <!-- ###                  -->

    <!-- VR server address and port. -->
    <add key="VRServerPort" value="11023"/>
    <add key="VRServerAddress" value="129.64.64.219"/>

    <!-- List of known VR server addresses -->
    <add key="VRServer1" value="daedalus"/>
    <add key="VRServer2" value="prometheus"/>

    <!-- ###                                -->
    <!-- ### PASSIVE MOVEMENT TASK SETTINGS -->
    <!-- ###                                -->

    <!-- Directory containing the recordings of previous trials. -->
    <add key="TrialRecordingsDirectory" value="C:\EXPERIMENT\recordings\"/>

    
    
    <!-- ###                       -->
    <!-- ### BALANCE TASK SETTINGS -->
    <!-- ###                       -->

    <!-- Directory containing the CSV files that hold the trial parameters. -->
    <add key="TrialParametersDirectory" value="C:\EXPERIMENT\parameters\"/>

    <!-- Directory containing the CSV files that hold the noise functions. -->
    <add key="NoiseDirectory" value="C:\EXPERIMENT\noise\"/>

    <!-- Directory containing the output data files. -->
    <add key="DataDirectory" value="C:\EXPERIMENT\data\"/>

    <!-- Control mode. Acceptable values are Acceleration, Velocity, or Position. -->
    <add key="ControlMode" value="Velocity"/>

    

    <!-- ###                  -->
    <!-- ### GENERAL SETTINGS -->
    <!-- ###                  -->

    <!-- How the seat is mounted. Acceptable values are Back or Chair. -->
    <add key="MountType" value="Back"/>

    <!-- Version number, displayed in window bar. -->
    <add key="Version" value="0.5.8"/>


    
    <!-- IT IS UNLIKELY THAT YOU NEED TO CHANGE THE SETTINGS BELOW -->

    
    
    <!-- ###                  -->
    <!-- ### GENERAL SETTINGS -->
    <!-- ###                  -->

    <add key="AllowSingleHulkamaniaInstanceOnly" value="True"/>

    <!-- Dummy motion controller delay. -->
    <add key="DummyMotionControllerDelayInMs" value="30"/>

    
    
    <!-- ###                   -->
    <!-- ### NI BOARD SETTINGS -->
    <!-- ###                   -->

    <!-- I/O lines from the DAQ to the program as it appears in NI Motion and Automation Explorer -->
    <add key="InputLineCheckLights1" value="Dev2/port0/line30"/>
    <add key="InputLineCheckLights2" value="Dev2/port0/line28"/>
    <add key="InputLineCheckPLC" value="Dev2/port0/line8"/>
    <add key="InputLineCheckMayday1" value="Dev2/port0/line9"/>
    <add key="InputLineCheckMayday2" value="Dev2/port0/line15"/>
    <add key="OutputLinePCReady" value="Dev2/port0/line12"/>

    <!-- Motion controller board ID as it appears in NI Motion and Automation Explorer -->
    <add key="MotionControllerBoardId" value="2"/>
    
  </appSettings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
