<?xml version="1.0" encoding="utf-8" ?>

<!-- 
     .NET application configuration file

     This file must have the exact same name as your application with
     .config appended to it. For example if your application is ConsoleApp.exe
     then the config file must be ConsoleApp.exe.config it mut also be in the
     same directory as the application. 
-->

<configuration>
    
	<!-- Register a section handler for the log4net section -->
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
	
    <!-- This section contains the log4net configuration settings -->
    <log4net>
        
		<!-- Define output appenders -->
        
		<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{HH:mm:ss,fff} [%-5level] %message %newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO" />
                <acceptOnMatch value="true" />
            </filter>
        </appender>

		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="log\\main-log.txt" />
            <appendToFile value="false" />
            <maxSizeRollBackups value="3" />
            <maximumFileSize value="5000KB" />
            <rollingStyle value="Size" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level [%-5thread] %message %logger %newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO" />
                <acceptOnMatch value="true" />
            </filter>
        </appender>
        
		<appender name="RollingDebugFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="log\\debug-log.txt" />
            <appendToFile value="false" />
            <maxSizeRollBackups value="3" />
            <maximumFileSize value="5000KB" />
            <rollingStyle value="Size" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level [%-5thread] %message %logger %newline" />
            </layout>
        </appender>
        
		<appender name="RollingErrorFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="log\\error-log.txt" />
            <appendToFile value="false" />
            <maxSizeRollBackups value="3" />
            <maximumFileSize value="5000KB" />
            <rollingStyle value="Size" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level [%-5thread] %message %logger %newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="ERROR" />
                <acceptOnMatch value="true" />
            </filter>
        </appender>

        <root>
          <level value="Debug" />
          <appender-ref ref="RollingLogFileAppender" />
          <appender-ref ref="RollingErrorFileAppender" />
          
<!-- Uncomment the following line to get detailed log files, including all method entries and obj creations.  -->
          <appender-ref ref="RollingDebugFileAppender" />

        </root>

    </log4net>
</configuration>
